#"git-include" pattern
*.*
*/**
!.github/**
!components/**
!deps/**
!islands/**
!routes/**
!static/**

!.gitignore
!.dockerignore

!deno.json
!import_map.json
!deno.lock
!main.ts
!dev.ts
!fresh.gen.ts
!README.md
