:root {
  /*Light theme*/
  /* stone-900 */
  --text: #1c1917;
  /* stone-400 */
  --link: #a8a29e;
  /* stone-100 */
  --bg: #f5f5f4;
  /* orange-500 */
  --accent: #f97316;

  /*Dark Theme*/
  /* zinc-100 */
  --dark-text: #f4f4f5;
  /* zinc-400 */
  --dark-link: #a1a1aa;
  /* zinc-900 */
  --dark-bg: #18181b;
  /* amber-500 */
  --dark-accent: #f59e0b;
}

html {
  scroll-behavior: smooth;
  background-color: var(--bg);
  color: var(--text);
}
html.dark {
  background-color: var(--dark-bg);
  color: var(--dark-text);
}

#sundile-canvas-wrapper canvas {
  border-radius: 0.5em;
}
