:is(svg:hover, button:focus svg) * {
  transition: all linear 0.125s;
  stroke: var(--link);
}

svg * {
  stroke-width: 3;
  stroke-linejoin: round;
  transition: all linear 0.125s;
      fill: var(--bg);
  stroke: var(--text);
}

.dark :is(svg:hover, button:focus svg) * {
  stroke: var(--dark-link);
}
.dark svg * {
  fill: var(--dark-bg);
  stroke: var(--dark-text);
}
