:root {
  --stone-900: rgb(28 25 23);
  --stone-100: rgb(245 245 244);
  --zinc-900: rgb(24 24 27);
  --zinc-100: rgb(244 244 245);
  --rose-500: rgb(244 63 94);
  --amber-500: rgb(245 158 11);
  --orange-500: rgb(249 115 22);
  --zinc-400: rgb(161 161 170);
}

html {
  scroll-behavior: smooth;
}
