svg:hover * {
  transition: all linear 0.125s;
}

svg * {
  stroke-width: 3;
  stroke-linejoin: round;
  transition: all linear 0.125s;
}

svg:hover * {
  stroke: var(--zinc-400);
}
.dark svg:hover * {
  stroke: var(--amber-500);
}
svg * {
  fill: var(--stone-100);
  stroke: var(--stone-900);
}

.dark svg:hover * {
  stroke: var(--zinc-500);
}

.dark svg * {
  fill: var(--zinc-900);
  stroke: var(--zinc-100);
}
